[run]
omit =
    # These are not covered by any test because it is an experimental API
    modin/sql/*
    # This is not used yet
    modin/pandas/index/*
    # Skip tests
    modin/pandas/test/*
    modin/experimental/pandas/test/*
    # Plotting is not tested
    modin/pandas/plotting.py
    # Skip Dask until it is fully a part of the testing suite
    modin/engines/dask/*
    # Skip Gandiva because it is experimental
    modin/experimental/engines/pyarrow_on_ray/*
    modin/backends/pyarrow/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise ImportError
    assert
