sudo: required

language: generic

matrix:
  include:
    - os: linux
      dist: trusty
      env: PYTHON=2.7

    - os: linux
      dist: trusty
      env: PYTHON=3.6

    - os: osx
      osx_image: xcode7
      env: PYTHON=2.7

    - os: osx
      osx_image: xcode7
      env: PYTHON=3.6

    - os: linux
      dist: trusty
      env: LINT=1
      script:
        - export PATH="$HOME/miniconda/bin:$PATH"
        - black --check --diff modin/
        - flake8 .

install:
  - ./.travis/install-dependencies.sh

script:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - if [[ "$PYTHON" == "2.7" ]]; then python .travis/strip-type-hints.py; fi
  - python -m pytest --disable-pytest-warnings modin/pandas/test/test_dataframe.py
  - python -m pytest --disable-pytest-warnings modin/pandas/test/test_concat.py
  - python -m pytest --disable-pytest-warnings modin/pandas/test/test_io.py
  - python -m pytest --disable-pytest-warnings modin/pandas/test/test_groupby.py
