# These owners will be the default owners for everything in
# the repo unless a later match takes precedence,
*    @modin-project/modin-core @devin-petersohn @mvashishtha @RehanSD @YarShev @vnlitvinov @anmyachev @dchigarev

# These owners will review everything in the HDK engine component
# of Modin.
/modin/experimental/core/storage_formats/hdk/**    @modin-project/modin-hdk @aregm @gshimansky @ienkovich @Garra1980 @YarShev @vnlitvinov @anmyachev @dchigarev @AndreyPavlenko
/modin/experimental/core/execution/native/implementations/hdk_on_native/**    @modin-project/modin-hdk @aregm @gshimansky @ienkovich @Garra1980 @YarShev @vnlitvinov @anmyachev @dchigarev @AndreyPavlenko
