# These owners will be the default owners for everything in
# the repo unless a later match takes precedence,
*    @modin-project/modin-core @devin-petersohn @mvashishtha @RehanSD @YarShev @vnlitvinov @anmyachev @dchigarev
