name: modin
channels:
  - conda-forge
dependencies:
  - pandas==1.3.5
  - numpy>=1.16.5
  - pyarrow>=6.*
  - libthrift<0.14.1  # ref: modin gh-2840
  - dask[complete]>=2.22.0
  - distributed>=2.22.0
  - fsspec
  - xarray
  - Jinja2
  - pathlib
  - scipy
  - pip
  - s3fs>=2021.8
  - feather-format
  - lxml
  - openpyxl
  - xlrd
  - matplotlib<=3.2.2
  - sqlalchemy>=1.4.0
  - pandas-gbq
  - pytables
  - msgpack-python
  - psutil
  - pytest>=6.0.1
  - pytest-benchmark
  - pytest-cov>=2.10.1
  - pytest-xdist>=2.1.0
  - packaging
  - coverage<5.0
  - pygithub==1.53
  - ray-default
  - rpyc==4.1.5
  - cloudpickle
  - boto3
  - scikit-learn
  - pip:
      - xgboost>=1.3
      - modin-spreadsheet>=0.1.1
      - tqdm
      - git+https://github.com/airspeed-velocity/asv.git@ef016e233cb9a0b19d517135104f49e0a3c380e9
