name: modin
channels:
  - conda-forge
dependencies:
  - pip

  # required dependencies
  - pandas>=2,<2.1
  - numpy>=1.18.5
  - fsspec
  - packaging
  - psutil

  # optional dependencies
  # ray==2.5.0 broken: https://github.com/conda-forge/ray-packages-feedstock/issues/100
  - ray-default>=1.13.0,!=2.5.0
  # https://github.com/modin-project/modin/issues/6336
  - pydantic<2
  - pyarrow==6.0.0
  # workaround for https://github.com/conda/conda/issues/11744
  - grpcio!=1.45.*
  - grpcio!=1.46.*
  - dask>=2.22.0
  - distributed>=2.22.0
  # TODO: uncomment after Modin switch to python>=3.9
  # - xarray
  - Jinja2
  - scipy
  - s3fs>=2021.8
  - feather-format
  - lxml
  - openpyxl
  - xlrd
  - matplotlib
  - sqlalchemy>=1.4.0,<1.4.46
  - pandas-gbq
  - pytables
  - msgpack-python
  - scikit-learn
  - pymssql
  - psycopg2
  - fastparquet<2023.1.0
  # TODO(https://github.com/modin-project/modin/issues/5194): Uncap xgboost
  # when we use collective instead of rabit.
  - xgboost>=1.7.1,<2.0.0
  - tqdm

  # dependencies for making release
  - pygithub>=v1.58.0
  - pygit2>=1.9.2

  # test dependencies
  - boto3
  - coverage>=7.1.0
  - moto>=4.1.0
  - pytest>=7.2.1
  - pytest-benchmark>=4.0.0
  - pytest-cov>=4.0.0
  - pytest-xdist>=3.2.0

  # code linters
  - black>=23.1.0
  - flake8>=6.0.0
  - flake8-no-implicit-concat>=0.3.4
  - flake8-print>=5.0.0
  - mypy>=1.0.0
  - pandas-stubs>=2.0.0

  - pip:
      # no conda package for windows so we install it with pip
      - connectorx>=0.2.6a4
      # experimental version of fuzzydata requires at least 0.0.6 to successfully resolve all dependencies
      - fuzzydata>=0.0.6
      # Fixes breaking ipywidgets changes, but didn't release yet.
      - git+https://github.com/modin-project/modin-spreadsheet.git@49ffd89f683f54c311867d602c55443fb11bf2a5
      - git+https://github.com/airspeed-velocity/asv.git@ef016e233cb9a0b19d517135104f49e0a3c380e9
      # The `numpydoc` version should match the version installed in the `lint-pydocstyle` job of the CI.
      - numpydoc==1.1.0
