name: modin
channels:
  - conda-forge
dependencies:
  - pandas==1.2.5
# Restrition for numpy upper version is because of #3182
  - numpy>=1.16.5,<=1.20.3
  - pyarrow>=1.0.0
  - libthrift<0.14.1  # ref: modin gh-2840
  - dask[complete]>=2.12.0,<=2.19.0
  - distributed>=2.12.0,<=2.19.0
  - xarray
  - Jinja2
  - pathlib
  - scipy
  - pip
  - s3fs>=0.4.2
  - feather-format
  - lxml
  - openpyxl
  - xlrd
  - matplotlib<=3.2.2
  - sqlalchemy
  - pandas-gbq
  - pytables
  - msgpack-python
  - psutil
  - pytest>=6.0.1
  - pytest-benchmark
  - pytest-cov>=2.10.1
  - pytest-xdist>=2.1.0
  - packaging
  - coverage<5.0
  - pygithub==1.53
  - rpyc==4.1.5
  - cloudpickle==1.4.1
  - boto3
  - asv
  - pip:
      - xgboost>=1.3
      - modin-spreadsheet>=0.1.1
      - tqdm
      - ray>=1.4
