name: modin
channels:
  - conda-forge
dependencies:
  - pandas==1.4.2
  - numpy>=1.18.5
  - pyarrow>=4.0.1
  - dask[complete]>=2.22.0,<2022.2.0
  - distributed>=2.22.0,<2022.2.0
  - fsspec
  - xarray
  - Jinja2
  - scipy
  - pip
  - s3fs>=2021.8
  - feather-format
  - lxml
  - openpyxl
  - xlrd
  - matplotlib<=3.2.2
  - sqlalchemy>=1.4.0
  - pandas-gbq
  - pytables
  - msgpack-python
  - psutil
  - pytest>=6.0.1
  - pytest-benchmark
  - pytest-cov>=2.10.1
  - pytest-xdist>=2.1.0
  - packaging
  - coverage<5.0
  - pygithub==1.53
  - rpyc==4.1.5
  - cloudpickle
  - boto3
  - scikit-learn
  - pymssql
  - psycopg2
  - pip:
      - xgboost>=1.6.0
      - modin-spreadsheet>=0.1.1
      - tqdm
      - git+https://github.com/airspeed-velocity/asv.git@ef016e233cb9a0b19d517135104f49e0a3c380e9
      - ray[default]>=1.4.0
      - connectorx>=0.2.6a4
