pandas==1.4.3
numpy>=1.18.5
pyarrow>=4.0.1
dask[complete]>=2.22.0,<2022.2.0
distributed>=2.22.0,<2022.2.0
# Pin ray to < 1.13.0 to work around GH#4564
# TODO(https://github.com/modin-project/modin/issues/4564): let ray go past 1.13.0.
ray[default]>=1.4.0,<1.13.0
# Following https://github.com/ray-project/ray/pull/25648, pin protobuf < 4,
# because versions >= 4.0.0 are incompatible with ray<1.13.0.
protobuf<4.0.0
redis>=3.5.0,<4.0.0
psutil
fsspec
xarray
Jinja2
tables
scipy
s3fs>=2021.8
pytest
pytest-benchmark
coverage
pytest-cov
pytest-xdist
feather-format
lxml
openpyxl
xlrd
matplotlib
sqlalchemy>=1.4.0
msgpack
pandas_gbq
cloudpickle
rpyc==4.1.5
scikit-learn
git+https://github.com/airspeed-velocity/asv.git@ef016e233cb9a0b19d517135104f49e0a3c380e9
xgboost>=1.6.0
tqdm
modin-spreadsheet>=0.1.1
pymssql
psycopg2
connectorx>=0.2.6a4
black
flake8
# The `numpydoc` version should match the version installed in the `lint-pydocstyle` job of the CI.
numpydoc==1.1.0
# experimental version of fuzzydata requires at least 0.0.6 to successfully resolve all dependencies
fuzzydata>=0.0.6
mypy
pandas-stubs
