pandas==1.0.5
numpy
pyarrow<0.17
dask[complete]>=2.12.0,<=2.19.0
distributed>=2.12.0,<=2.19.0
ray==0.8.6
psutil==5.6.6
xarray
Jinja2
pathlib
tables
scipy
s3fs
pytest
coverage<5.0
pytest-cov
pytest-xdist
feather-format
lxml
openpyxl
xlrd
matplotlib<=3.2.2
sqlalchemy
msgpack<1.0
pandas_gbq
cloudpickle
rpyc
