pandas==1.5.1
numpy>=1.18.5
pyarrow>=4.0.1
dask[complete]>=2.22.0
distributed>=2.22.0
ray[default]>=1.4.0
redis>=3.5.0,<4.0.0
psutil
fsspec
xarray
Jinja2
tables
scipy
s3fs>=2021.8
pytest
pytest-benchmark
coverage
pytest-cov
pytest-xdist
feather-format
lxml
openpyxl
xlrd
matplotlib
sqlalchemy>=1.4.0
msgpack
pandas_gbq
cloudpickle
rpyc==4.1.5
scikit-learn
git+https://github.com/airspeed-velocity/asv.git@ef016e233cb9a0b19d517135104f49e0a3c380e9
# TODO(https://github.com/modin-project/modin/issues/5171): uncap xgboost
# when we can run tests on 1.7.0 without getting stuck.
xgboost>=1.6.0,<1.7.0
tqdm
# Latest modin-spreadsheet with widget fix
git+https://github.com/modin-project/modin-spreadsheet.git@49ffd89f683f54c311867d602c55443fb11bf2a5
pymssql
psycopg2
connectorx>=0.2.6a4
black
# TODO: remove when flake8 5.x stabilizes and appears in both pip and conda-forge; see GH-#4745
flake8<5
flake8-no-implicit-concat
flake8-print
# The `numpydoc` version should match the version installed in the `lint-pydocstyle` job of the CI.
numpydoc==1.1.0
# experimental version of fuzzydata requires at least 0.0.6 to successfully resolve all dependencies
fuzzydata>=0.0.6
mypy
pandas-stubs
fastparquet