pandas==1.1.5
numpy
pyarrow>=1.0.0
dask[complete]>=2.12.0,<=2.19.0
distributed>=2.12.0,<=2.19.0
ray>=1.0.0
psutil==5.6.6
xarray
Jinja2
pathlib
tables
scipy
s3fs>=0.4.2
pytest
pytest-benchmark
coverage<5.0
pytest-cov
pytest-xdist
feather-format
lxml
openpyxl
xlrd<=1.2.0
matplotlib<=3.2.2
sqlalchemy
msgpack
pandas_gbq
cloudpickle
rpyc==4.1.5
asv
