pandas==0.24.0
numpy <= 1.15.0
dask[complete]==1.0.0
distributed==1.25.0
ray==0.6.2
psutil==5.4.8
strip_hints==0.1.1
typing
xarray
Jinja2
pathlib
tables
scipy
pytest==3.9.3
coverage
pytest-cov
pytest-xdist
feather-format
lxml
openpyxl
xlrd
matplotlib
sqlalchemy
