pandas>=2,<2.1
numpy>=1.20.3
fsspec>=2021.07.0
packaging>=21.0
psutil>=5.8.0

## optional dependencies
# ray==2.5.0 broken: https://github.com/conda-forge/ray-packages-feedstock/issues/100
ray[default]>=1.13.0,!=2.5.0
# https://github.com/modin-project/modin/issues/6336
pydantic<2
pyarrow>=7.0.0
dask[complete]>=2.22.0
distributed>=2.22.0
xarray
Jinja2>=3.0.0
scipy>=1.7.1
s3fs>=2021.8
lxml>=4.6.3
openpyxl>=3.0.7
xlrd>=2.0.1
matplotlib>=3.6.1
sqlalchemy>=1.4.0,<1.4.46
pandas-gbq>=0.15.0
tables>=3.6.1
# pymssql==2.2.8 broken: https://github.com/modin-project/modin/issues/6429
pymssql>=2.1.5,!=2.2.8
psycopg2>=2.8.6
connectorx>=0.2.6a4
fastparquet>=0.6.3,<2023.1.0
flask-cors
tqdm>=4.60.0
# Latest modin-spreadsheet with widget fix
git+https://github.com/modin-project/modin-spreadsheet.git@49ffd89f683f54c311867d602c55443fb11bf2a5

## dependencies for making release
PyGithub>=1.58.0
pygit2>=1.9.2

## test dependencies
boto3>=1.26.0
coverage>=7.1.0
# experimental version of fuzzydata requires at least 0.0.6 to successfully resolve all dependencies
fuzzydata>=0.0.6
git+https://github.com/airspeed-velocity/asv.git@ef016e233cb9a0b19d517135104f49e0a3c380e9
# The `numpydoc` version should match the version installed in the `lint-pydocstyle` job of the CI.
numpydoc==1.1.0
# experimental version of fuzzydata requires at least 0.0.6 to successfully resolve all dependencies
fuzzydata>=0.0.6
# Mypy 0.990 doesn't work: https://github.com/modin-project/modin/issues/5206
mypy!=0.990
pandas-stubs
fastparquet<2023.1.0
# for release script
PyGithub
pygit2
moto
flask-cors
boto3
