pandas==1.1.5
numpy>=1.18.5
pyarrow>=4.0.1
dask[complete]>=2.22.0
distributed>=2.22.0
ray[default]>=1.4.0
redis>=3.5.0
grpcio<=1.48.2
psutil
fsspec
xarray
Jinja2
tables
scipy
s3fs>=2021.8,<=2022.1.0
feather-format
lxml
openpyxl
xlrd
matplotlib
sqlalchemy>=1.4.0
msgpack
pandas_gbq
cloudpickle
scikit-learn
pickle5
tqdm
# Fixes breaking ipywidgets changes, but didn't release yet.
git+https://github.com/modin-project/modin-spreadsheet.git@49ffd89f683f54c311867d602c55443fb11bf2a5
fastparquet