pandas==1.1.5
numpy>=1.18.5
pyarrow>=4.0.1
dask[complete]>=2.22.0
distributed>=2.22.0
ray[default]>=1.4.0
redis>=3.5.0,<4.0.0
psutil
fsspec
xarray
Jinja2
tables
scipy
s3fs>=2021.8,<=2022.1.0
feather-format
lxml
openpyxl
xlrd
matplotlib<=3.2.2
sqlalchemy>=1.4.0
msgpack
pandas_gbq
cloudpickle
scikit-learn
pickle5
tqdm
modin-spreadsheet>=0.1.1
