colorama
click
flatbuffers
funcsigs
mock
opencv-python
pyyaml
recommonmark
sphinx
sphinx-click
sphinx_rtd_theme
git+https://github.com/modin-project/modin.git@master#egg=modin[all]
sphinxcontrib_plantuml
sphinx-issues
xgboost
