colorama
click
flatbuffers
funcsigs
mock
opencv-python
pydata_sphinx_theme
pyyaml
recommonmark
sphinx
sphinx-click
git+https://github.com/modin-project/modin.git@master#egg=modin[all]
sphinxcontrib_plantuml
sphinx-issues
xgboost
pip
