name: ci-notebooks
on:
  pull_request:
    paths:
      - modin/**
      - examples/tutorial/**
      - .github/workflows/ci-notebooks.yml
      - setup.cfg
      - setup.py
      - requirements/env_unidist_linux.yml
concurrency:
  # Cancel other jobs in the same branch. We don't care whether CI passes
  # on old commits.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
env:
  MODIN_GITHUB_CI: true
jobs:
  test-tutorial-notebooks:
    defaults:
      run:
        shell: bash -l {0}
    name: test tutorial notebooks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        execution: [pandas_on_ray, pandas_on_dask, pandas_on_unidist]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python-only
        if: matrix.execution != 'pandas_on_unidist'
      - uses: ./.github/actions/mamba-env
        with:
          environment-file: requirements/env_unidist_linux.yml
          activate-environment: modin_on_unidist
        if: matrix.execution == 'pandas_on_unidist'
      - name: Cache datasets
        uses: actions/cache@v4
        with:
          path: taxi.csv
          # update cache only if notebooks require it to be changed
          key: taxi-csv-dataset-${{ hashFiles('examples/tutorial/jupyter/**') }}
      # replace modin with . in the tutorial requirements file for `pandas_on_ray` and
      # `pandas_on_dask` since we need Modin built from sources
      - run: sed -i 's/modin/./g' examples/tutorial/jupyter/execution/${{ matrix.execution }}/requirements.txt
        if: matrix.execution != 'pandas_on_unidist'
      # install dependencies required for notebooks execution for `pandas_on_ray` and `pandas_on_dask`
      # Override modin-spreadsheet install for now
      - run: |
          pip install -r examples/tutorial/jupyter/execution/${{ matrix.execution }}/requirements.txt
          pip install git+https://github.com/modin-project/modin-spreadsheet.git@49ffd89f683f54c311867d602c55443fb11bf2a5
        if: matrix.execution != 'pandas_on_unidist'
      # Build Modin from sources for `pandas_on_unidist`
      - run: pip install -e .
        if: matrix.execution == 'pandas_on_unidist'
      # install test dependencies
      # NOTE: If you are changing the set of packages installed here, make sure that
      # the dev requirements match them.
      - run: pip install pytest pytest-cov black flake8 flake8-print flake8-no-implicit-concat
        if: matrix.execution != 'pandas_on_unidist'
      - run: pip install flake8-print jupyter nbformat nbconvert
        if: matrix.execution == 'pandas_on_unidist'
      - run: pip list
        if: matrix.execution != 'pandas_on_unidist'
      - run: |
          conda info
          conda list
        if: matrix.execution == 'pandas_on_unidist'
      # setup kernel configuration for `pandas_on_unidist` execution with mpi backend
      - run: python examples/tutorial/jupyter/execution/${{ matrix.execution }}/setup_kernel.py
        if: matrix.execution == 'pandas_on_unidist'
      - run: jupyter kernelspec list
      - run: |
          black --check --diff examples/tutorial/jupyter/execution/${{ matrix.execution }}/test/test_notebooks.py
          black --check --diff examples/tutorial/jupyter/execution/test/utils.py
      - run: |
          flake8 --enable=T examples/tutorial/jupyter/execution/${{ matrix.execution }}/test/test_notebooks.py
          flake8 --enable=T examples/tutorial/jupyter/execution/test/utils.py
      - run: python -m pytest examples/tutorial/jupyter/execution/${{ matrix.execution }}/test/test_notebooks.py
