name: push-to-master
on:
  push:
    branches:
      - master
jobs:
  test-ray-master:
    runs-on: ubuntu-latest
    defaults:
      run:
        # `shell: bash -l {0}` - special way to activate modin environment
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin
          environment-file: environment-dev.yml
          python-version: 3.8
          channel-priority: strict
          # we set use-only-tar-bz2 to false in order for conda to properly find new packages to be installed
          # for more info see https://github.com/conda-incubator/setup-miniconda/issues/264
          use-only-tar-bz2: false
      - name: install Ray nightly build
        # Use --force-reinstall to always reinstall ray and its dependencies.
        run: pip install --force-reinstall https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl
      - name: Conda environment
        run: |
          conda info
          conda list
      - run: sudo apt update && sudo apt install -y libhdf5-dev
      - name: Run Modin tests
        run: |
          pytest modin/experimental/xgboost/test/test_default.py
          pytest modin/pandas/test/dataframe/test_binary.py
          pytest modin/pandas/test/dataframe/test_default.py
          pytest modin/pandas/test/dataframe/test_indexing.py
          pytest modin/pandas/test/dataframe/test_iter.py
          pytest modin/pandas/test/dataframe/test_join_sort.py
          pytest modin/pandas/test/dataframe/test_map_metadata.py
          pytest modin/pandas/test/dataframe/test_reduce.py
          pytest modin/pandas/test/dataframe/test_udf.py
          pytest modin/pandas/test/dataframe/test_window.py
          pytest modin/pandas/test/test_series.py
          pytest modin/pandas/test/test_rolling.py
          pytest modin/pandas/test/test_concat.py
          pytest modin/pandas/test/test_groupby.py
          pytest modin/pandas/test/test_reshape.py
          pytest modin/pandas/test/test_general.py
          pytest modin/pandas/test/test_io.py
          pytest modin/experimental/pandas/test/test_io_exp.py

  test-docs:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    name: test docs
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Cache conda
        uses: actions/cache@v3
        with:
          path: |
            ~/conda_pkgs_dir
            ~/.cache/pip
          key:
            ${{ runner.os }}-conda-${{ hashFiles('environment-dev.yml') }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true
          activate-environment: modin
          environment-file: environment-dev.yml
          python-version: 3.8
          channel-priority: strict
          # we set use-only-tar-bz2 to false in order for conda to properly find new packages to be installed
          # for more info see https://github.com/conda-incubator/setup-miniconda/issues/264
          use-only-tar-bz2: false
      - name: Conda environment
        run: |
          conda info
          conda list
      - run: sudo apt update && sudo apt install -y libhdf5-dev
      - name: Docstring URL validity check
        run: python -m pytest modin/test/test_docstring_urls.py

  test-ray-client:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.8"]
        test-task:
          - modin/pandas/test/dataframe/test_binary.py
          - modin/pandas/test/dataframe/test_default.py
          - modin/pandas/test/dataframe/test_indexing.py
          - modin/pandas/test/dataframe/test_iter.py
          - modin/pandas/test/dataframe/test_join_sort.py
          - modin/pandas/test/dataframe/test_map_metadata.py
          - modin/pandas/test/dataframe/test_reduce.py
          - modin/pandas/test/dataframe/test_udf.py
          - modin/pandas/test/dataframe/test_window.py
          - modin/pandas/test/dataframe/test_pickle.py
          - modin/pandas/test/test_series.py
          - modin/pandas/test/test_rolling.py
          - modin/pandas/test/test_concat.py
          - modin/pandas/test/test_groupby.py
          - modin/pandas/test/test_reshape.py
          - modin/pandas/test/test_general.py
          - modin/pandas/test/test_io.py
    env:
      MODIN_ENGINE: ray
      MODIN_MEMORY: 1000000000
      MODIN_TEST_RAY_CLIENT: "True"
    name: "test-ray-client"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          # we set use-only-tar-bz2 to false in order for conda to properly find new packages to be installed
          # for more info see https://github.com/conda-incubator/setup-miniconda/issues/264
          use-only-tar-bz2: false
      - run: pip install -r requirements-dev.txt
      - name: Install HDF5
        run: sudo apt update && sudo apt install -y libhdf5-dev
      - run: python -m pytest ${{matrix.test-task}}
