name: master
on: push
jobs:
  test-internals:
    runs-on: ubuntu-latest
    name: test-internals
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: 3.6
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Internals tests
        shell: bash -l {0}
        run: python -m pytest modin/data_management/factories/test/test_dispatcher.py modin/experimental/cloud/test/test_cloud.py
      - shell: bash -l {0}
        run: python -m pytest modin/config/test
      - shell: bash -l {0}
        run: python -m pytest modin/test/test_envvar_catcher.py
      - shell: bash -l {0}
        run: python -m pytest modin/test/backends/pandas/test_internals.py

  test-defaults:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        backend: [BaseOnPython]
    env:
      MODIN_MEMORY: 1000000000
      MODIN_TEST_DATASET_SIZE: "small"
    name: Test ${{ matrix.backend }} backend, Python 3.6
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: 3.6
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Install HDF5
        run: sudo apt update && sudo apt install -y libhdf5-dev
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_binary.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_default.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_indexing.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_iter.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_join_sort.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_map_metadata.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_reduction.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_udf.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_window.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_series.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_rolling.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_concat.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_groupby.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_reshape.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_general.py --backend=${{ matrix.backend }}
      - shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash)

  test-omnisci:
    runs-on: ubuntu-latest
    env:
      MODIN_MEMORY: 1000000000
      MODIN_EXPERIMENTAL: "True"
      MODIN_ENGINE: "ray"
      MODIN_BACKEND: "omnisci"
    name: Test OmniSci backend, Python 3.7
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Setting up Modin environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin_on_omnisci
          python-version: 3.7.8
          environment-file: requirements/env_omnisci.yml
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Install HDF5
        run: sudo apt update && sudo apt install -y libhdf5-dev
      - shell: bash -l {0}
        run: pytest modin/experimental/engines/omnisci_on_ray/test/test_dataframe.py
      - shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash)

  test-all:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
        engine: ["python", "ray", "dask"]
    env:
      MODIN_ENGINE: ${{matrix.engine}}
      MODIN_MEMORY: 1000000000
    name: test-ubuntu (engine ${{matrix.engine}}, python ${{matrix.python-version}})
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Install HDF5
        run: sudo apt update && sudo apt install -y libhdf5-dev
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_binary.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_default.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_indexing.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_iter.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_join_sort.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_map_metadata.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_reduction.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_udf.py
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_window.py
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_series.py
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_rolling.py
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_concat.py
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_groupby.py
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_reshape.py
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_general.py
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_io.py
      - shell: bash -l {0}
        run: python -m pytest modin/experimental/pandas/test/test_io_exp.py
      - shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash)

  test-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
        engine: ["ray", "dask"]
        part: ["DataFrame", 3]
    env:
      MODIN_ENGINE: ${{matrix.engine}}
      MODIN_MEMORY: 1000000000
    name: test-windows
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
          auto-update-conda: true # this enable `use-only-tar-bz2` feature on Windows
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_binary.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_default.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_indexing.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_iter.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_join_sort.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_map_metadata.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_reduction.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_udf.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: pytest modin/pandas/test/dataframe/test_window.py
        if: matrix.part == 'DataFrame'
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_series.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_rolling.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_concat.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_groupby.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_reshape.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_general.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_io.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: choco install codecov
      - shell: bash -l {0}
        run: codecov -f ./coverage.xml

  test-pyarrow:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
    env:
      MODIN_BACKEND: pyarrow
      MODIN_EXPERIMENTAL: "True"
    name: test (pyarrow, python ${{matrix.python-version}})
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - run: sudo apt update && sudo apt install -y libhdf5-dev
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_io.py::TestCsv
