name: master
on: push
jobs:
  prepare-cache:
    runs-on: ${{ matrix.os }
    strategy:
      matrix:
        os: ["ubuntu-latest",  "windows-latest"]
        python-version: ["3.6", "3.7", "3.8"]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Cache conda
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ matrix.os }}-python-${{ matrix.python-version }}-conda-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - name: Cache pip if Ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - name: Cache pip if Windows
        if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/cache@v1
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - uses: goanpeca/setup-miniconda@v1.6.0
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
          auto-update-conda: true
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list

  test-all:
    needs: prepare-cache
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
        engine: ["python", "ray", "dask"]
        part: ["Reduction_A", "Reduction_B", "Binary", "MapMetadata", "UDF", "Default", "Window", "Indexing", "Iter", "JoinSort", 3]
    env:
      MODIN_ENGINE: ${{matrix.engine}}
      MODIN_MEMORY: 1000000000
    name: test (${{matrix.engine}}, part ${{matrix.part}}, python ${{matrix.python-version}})
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Cache conda
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-conda-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - name: Cache pip
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - uses: goanpeca/setup-miniconda@v1.6.0
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Install HDF5
        if: matrix.part == 3
        run: sudo apt update && sudo apt install -y libhdf5-dev
      - shell: bash -l {0}
        run: pytest modin/pandas/test/ -k "TestDataFrame${{matrix.part}}"
        if: matrix.part != 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_series.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_rolling.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_concat.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_groupby.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_reshape.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_general.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_io.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/experimental/pandas/test/test_io_exp.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash)

  test-windows:
    needs: prepare-cache
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
        engine: ["ray", "dask"]
        part: ["Reduction_A", "Reduction_B", "Binary", "MapMetadata", "UDF", "Default", "Window", "Indexing", "Iter", "JoinSort", 3]
    env:
      MODIN_ENGINE: ${{matrix.engine}}
      MODIN_MEMORY: 1000000000
    name: test-windows
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Cache conda
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-conda-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - name: Cache pip
        uses: actions/cache@v1
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - uses: goanpeca/setup-miniconda@v1.6.0
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
          auto-update-conda: true
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_dataframe.py::TestDataFrame${{matrix.part}}
        if: matrix.part != 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_series.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_rolling.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_concat.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_groupby.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_reshape.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_general.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_io.py
        if: matrix.part == 3
      - shell: bash -l {0}
        run: choco install codecov
      - shell: bash -l {0}
        run: codecov -f ./coverage.xml

  test-pyarrow:
    needs: prepare-cache
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
    env:
      MODIN_BACKEND: pyarrow
      MODIN_EXPERIMENTAL: "True"
    name: test (pyarrow, python ${{matrix.python-version}})
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Cache conda
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-conda-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - name: Cache pip
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-python-${{ matrix.python-version }}-pip-${{ github.run_id }}-${{ hashFiles('environment.yml') }}
      - uses: goanpeca/setup-miniconda@v1.6.0
        with:
          activate-environment: modin
          environment-file: environment.yml
          python-version: ${{matrix.python-version}}
          channel-priority: strict
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - run: sudo apt update && sudo apt install -y libhdf5-dev
      - shell: bash -l {0}
        run: python -m pytest modin/pandas/test/test_io.py::test_from_csv
